<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>


    <a href="https://www.meetup.com/fr-FR/afup-aix-marseille-php/"><i class="fab fa-meetup"></i> Groupe meetup</a>
    <a href="https://twitter.com/AFUP_AixMrs"><i class="fab fa-twitter"></i> Twitter</a>

    <a href="{{ "/feed" | prepend: site.baseurl }}"><i class="fas fa-rss"></i> RSS</a>

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>

</header>
